
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.cache
*.log

# Rider / JetBrains
.idea/
*.sln.iml

# Build outputs
Debug/
Release/


node_modules/
dist/
build/
.cache/
.vite/
.next/
out/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini


**/appsettings.*.json
!**/appsettings.json
!.gitignore
